
block config 
  include config.pug

doctype html
html(lang="ru" prefix="og: https://ogp.me/ns#")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Я web-разработчик
    meta(name="title" content="Я web-разработчик")
    meta(name="keywords" content="разработка и продвижение сайта, заказать лендинг недорого, создание сайта, заказать сайт, разработка сайта, сайт под ключ, админ панель для сайта, сайт с возможностью редактирования, seo, размещением сайта на хостинге")
    meta(name="description" content=descr)
    include _head.pug
  body
      header#up
          canvas
          include _header.pug
      block content
      footer.footer
        p.footer__descr &copy; 2020

      script(src="https://code.jquery.com/jquery-3.6.1.min.js")
      script(src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js")
      script(src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js")
      script(src="assets/js/script.js")