// @media (max-width: 1439px) {
//     .sidepanel {
//         display: none;
//     }
// }

//  просмотр в браузере на 992
@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }

    .divider {
        margin: 15px auto 0 auto;
    }

    .about {
        &__photo {
            margin-right: 40px;
        }

        &__contant {
            flex-basis: 520px;
        }
    }

    .skills {
        &__ratings {
            justify-content: space-around;

            &-item {
                &:nth-child(3) {
                    margin-top: 30px;
                }
            }
        }
    }
}


//  просмотр в браузере на 768
@media (max-width: 991px) {
    .container {
        max-width: 720px;
    }

    .title {
        &_fs48 {
            font-size: 36px;
        }
    }

    .about {
        &__photo {
            flex-basis: 300px;
        }

        &__contant {
            flex-basis: 380px;
        }

        &__skills {
            flex-direction: column;

            &-item {
                &:nth-child(2) {
                    margin-top: 40px;
                }
            }
        }

        &__photo {
            img {
                object-fit: unset;
            }
        }
    }

    .skills {
        &__ratings {
            &-item {
                flex-basis: 320px;
            }
        }
    }

    .price {
        &__wrapper {
            padding: 30px 0 0 0;
        }
    }
}

//  просмотр в браузере на 576
@media (max-width: 767px) {
    .admin-panel{
        padding-top: 70px;
        &__timer {
            margin-right: 0;
            height: auto;
            padding-top: 0;
            margin-bottom: 50px;
        }
        &__frame {
            height: auto;
        }
    }
    .slider {
        padding-top: 70px;
    }
    .container {
        max-width: 540px;
    }

    .title {
        &_fs48 {
            font-size: 28px;
        }
    }

    .promo {
        &__title {
            width: 300px;
            line-height: 39px;
        }
    }

    .about {
        padding-top: 40px;

        &__wrapper {
            flex-direction: column;
        }
        &__text {
            padding: 0 10px;
        }
        &__contant {
            flex: unset;
        }
        &__photo {
            flex: unset;
            background-color: #f2a443;
            width: 300px;
            height: 300px;
            margin-right: 0;
            border-radius: 10%;
            margin: 0 auto;
            margin-bottom: 40px;
            // display: none;
            .flip-card-inner, .flip-card-front, .flip-card-back {
                border-radius: 50%;
            }
            img{
                border-radius: 50%;
                object-fit: cover;
            }
        }
    }

    .skills {

        &__item {
            flex-grow: 1;
            margin: 10px;
        }
        &__item:nth-child(7) {
            .skills__item-img {
                align-self: center;
            }
        }
        &__ratings {
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
            // height: 600px;

            &-item {
                width: 350px;
                flex-basis: 80px;
                &:nth-child(n+3) {
                    margin-top: 0;
                }
            }
        }
    }

    .portfolio {
        padding-top: 50px;
    }

    .price {
        &__wrapper {
            justify-content: center;
        }
    }
}

//  просмотр в браузере на 320
@media (max-width: 575px) {
    .swiper {
        margin: 0;
    }
    .swiper-slide a, .swiper-slide a img {
        object-fit: contain;
      }
    .container {
        width: 100%;
        padding: 0 10px;
    }

    .hamburger {
        right: 20px;
    }

    .menu {
        &__block {
            width: 250px;
            padding-left: 20px;
        }
    }

    .promo {
        background: url(../img/bg_portfolio.jpg) no-repeat 55%/cover;

        &__wrapper {
            padding-left: 0;
        }

        &__btns {
            margin-top: 30px;
        }
    }

    .title {
        &_fs48 {
            font-size: 26px;
        }

        &_fs36 {
            font-size: 24px;
        }
    }

    .price {

        &__wrapper {
            padding-top: 10px;
        }
    }

    .skills {
        
        &__ratings {
            margin-top: 90px;
            &-item {
                width: 300px;
            }
        }
    }
}